<div class="container">
    <img class="img-thumbnail" src="/images/monopoly.png" style="width:1200px; height: 250px" alt="No Image">
    <div class="row">
        <div style="padding-top: 100px; text-align: center " class="col-md-12">
            <form method="post" action="/index">
                <button type="submit" class="btn btn-primary col-4" formaction="/login">Play</button>
            </form>
        </div>
        <div style="padding: 20px; text-align: center " class="col-md-12">
            <button type="submit" class="btn btn-success col-4" data-toggle="modal" data-target="#myModal">Rules
            </button>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content modal-lg">
            <div class="modal-header modal-lg">
                <h3 class="modal-title " style="float: left">Monopoly Game Rules</h3>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p><b>Objective</b>
                    The object of the game is to become the wealthiest player
                    through buying, renting and selling property.</p>
                <p><b>The Bank</b>
                    Besides the Bank’s money, the Bank holds the Title Deed
                    cards and houses and hotels prior to purchase and use by the players.
                    The Bank pays salaries and bonuses. It sells and auctions properties
                    and hands out their proper Title Deed cards; it sells houses and hotels
                    to the players and loans money when required on mortgages.</br>
                    The Bank collects all taxes, fines, loans and interest, and the price of
                    all properties which it sells and auctions.</p>
                <p><b>The Turn</b>
                    Starting with the Banker, each player in turn throws the
                    dice. The player with the highest total starts the play: Place your token
                    on the corner marked “GO,” throw the dice and move your token in
                    the direction of the arrow the number of spaces indicated by the dice.
                    After you have completed your play, the turn passes to the left. The
                    tokens remain on the spaces occupied and proceed from that point on
                    the player’s next turn. Two or more tokens may rest on the same space
                    at the same time.</br>
                    According to the space your token reaches, you may be entitled to
                    buy real estate or other properties — or obliged to pay rent, pay taxes,
                    draw a Chance or Community Chest card,
                    “Go to Jail,”
                    etc.
                    If you throw doubles, you move your token as usual, the sum of the
                    two dice, and are subject to any privileges or penalties pertaining to
                    the space on which you land. Retaining the dice, throw again and
                    move your token as before. If you throw doubles three times in
                    succession, move your token immediately to the space marked “In
                    Jail”
                    (see JAIL).</p>
                <p><b>"Go"</b>
                    Each time a player’s token passes over GO,
                    whether by throwing the dice or drawing a card, the Banker pays
                    him/her a $200 salary. If the player's token lands on GO, they are awarded $400.
                    The salary is paid only once each time around the board. However, if
                    a player passing GO on the throw of the dice lands 2 spaces beyond it
                    on Community Chest, or 7 spaces beyond it on Chance, and draws the
                    “Advance to GO” card, he/she collects $200 for passing GO the first
                    time and another $200 for reaching it the second time by instructions
                    on the card.</p>
                <p><b>Buying Property</b>
                    Whenever you land on an unowned property
                    you may buy that property from the Bank at its printed price. You
                    receive the Title Deed card showing ownership; place it face up in
                    front of you.</br>
                    If you do not wish to buy the property, the Banker sells it at auction
                    to the highest bidder. The buyer pays the Bank the amount of the bid
                    in cash and receives the Title Deed card for that property. Any player,
                    including the one who declined the option to buy it at the printed
                    price, may bid. Bidding may start at any price.</p>
                <p><b>Paying Rent</b>
                    When you land on property owned by another
                    player, the owner collects rent from you in accordance with the list
                    printed on its Title Deed card.</br>
                    It is an advantage to hold all the Title Deed cards in a color-group
                    (e.g., Boardwalk and Park Place; or Connecticut, Vermont and Oriental
                    Avenues) because the owner may then charge double rent for
                    unimproved properties in that color-group. This rule applies to
                    unmortgaged properties even if another property in that color-group
                    is mortgaged.</br>
                    It is even more advantageous to have houses or hotels on properties
                    because rents are much higher than for unimproved properties.</p>
                <p><b>Jail</b>
                    You land in Jail when...(1) your token lands on the space
                    marked “Go to Jail”; (2) you draw a card marked “Go to Jail”; or
                    (3) you throw doubles three times in succession.</br>
                    When you are sent to Jail you cannot collect your $200 salary in that
                    move since, regardless of where your token is on the board, you must
                    move it directly into Jail. Yours turn ends when you are sent to Jail.
                    If you are not “sent” to Jail but in the ordinary course of play land
                    on that space, you are “Just Visiting,” you incur no penalty, and you
                    move ahead in the usual manner on your next turn.
                    You get out of Jail by...(1) throwing doubles on any of your next
                    three turns; if you succeed in doing this you immediately move
                    forward the number of spaces shown by your doubles throw; even
                    though you had thrown doubles, you do not take another turn;
                    (2) using the “Get Out of Jail Free” card if you have it; (3) purchasing
                    the “Get Out of Jail Free” card from another player and playing it;
                    (4) paying a fine of $50 before you roll the dice on either of your next
                    two turns.</br>
                    If you do not throw doubles by your third turn, you must pay the
                    $50 fine. You then get out of Jail and immediately move forward the
                    number of spaces shown by your throw.</p>
                <p><b>Free Parking</b>
                    All taxes paid by player's are collected in a "pot" which lives in the
                    "Free Parking" spot. When a player's token lands on the "Free Parking",
                    they are awarded the current "pot" of money. The "pot" is then reset to $0.</p>
                <p><b>Houses</b>
                    When you own all the properties in a color-group you
                    may buy houses from the Bank and erect them on those properties.
                    If you buy one house, you may put it on any one of those
                    properties. The next house you buy must be erected on one of the
                    unimproved properties of this or any other complete color-group you
                    may own.</br>
                    The price you must pay the Bank for each house is shown on your
                    Title Deed card for the property on which you erect the house.
                    The owner still collects double rent from an opponent who lands on
                    the unimproved properties of his/her complete color-group.</br>
                    Following the above rules, you may buy and erect at any time as
                    many houses as your judgement and financial standing will allow. But
                    you must build evenly, i.e., you cannot erect more than one house on
                    any one property of any color-group until you have built one house on
                    every property of that group. You may then begin on the second row
                    of houses, and so on, up to a limit of four houses to a property. For
                    example, you cannot build three houses on one property if you have
                    only one house on another property of that group.
                <p>
                <p><b>Bankruptcy</b>
                    You are declared bankrupt if you owe more than
                    you can pay either to another player or to the Bank. If your debt is to
                    another player, you must turn over to that player all that you have of
                    value and retire from the game. In making this settlement, if you own
                    houses or hotels, you must return these to the Bank in exchange for
                    money to the extent of one-half the amount paid for them; this cash is
                    given to the creditor. If you have mortgaged property you also turn
                    this property over to your creditor but the new owner must at once
                    pay the Bank the amount of interest on the loan, which is 10% of the
                    value of the property. The new owner who does this may then, at
                    his/her option, pay the principal or hold the property until some later
                    turn, then lift the mortgage. If he/she holds property in this way until
                    a later turn, he/she must pay the interest again upon lifting the
                    mortgage.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
